:root {
  ---heading-color: #007acc;
  ---background-color: white;
  ---color-highlight: #f2f5ff;
  ---text-color: black;
  ---subtitle-color: hsl(51, 100%, 17%);
}

@media (prefers-color-scheme: dark) {
  :root {
    ---heading-color: hsl(204, 100%, 81%);
    ---background-color: hsl(204, 19%, 16%);
    ---color-highlight: hsl(204, 19%, 19%);
    ---text-color: #f2f5ff;
    ---subtitle-color: rgb(255, 245, 190);
  }
}

img {
  padding: 10px;
  background-color: #ecebeb;
}

a.social-icon {
  box-shadow: none;
}

a.social-icon:hover,
.circle-image {
  padding: 0.2em;

  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
}

.circle-image-container {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  overflow: hidden;
}

.link-post {
  color: var(---heading-color);
}

@keyframes onHover {
  from {
    background-color: var(---background-color);
  }
  to {
    background-color: var(---color-highlight);
  }
}

@keyframes endHover {
  from {
    background-color: var(---color-highlight);
  }
  to {
    background-color: var(---background-color);
  }
}

.link-post-a {
  padding: 1em;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0.2em;
  background-color: var(---background-color);
  cursor: pointer;
  animation-name: endHover;
  animation-duration: 0.5s;
}

.link-post-a:hover {
  background-color: var(---color-highlight);
  animation-name: onHover;
  animation-duration: 0.5s;
}

.link-post-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  margin-bottom: 2em;
  align-items: center;
}

.link-content {
  color: var(---text-color);
}

.news {
  background-color: gold;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 8em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .news {
    color: black;
    filter: invert();
  }
  .news a {
    color: var(---heading-color);
    filter: brightness(1.2);
    filter: invert();
  }

  .news a :hover {
    filter: brightness(1.2);
  }
}

@media screen and (max-width: 700px) {
  .news {
    padding: 0.2em 1em;
  }

  .news a {
    text-decoration: underline;
  }

  .link-post-a {
    margin-bottom: 0.5em;
  }
}

.post-image {
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
}

.blog-post-date {
  color: var(---subtitle-color);
  padding-bottom: 2em;
  padding-left: 0em;
}

.blog-post-date-text {
  padding-bottom: 2em;
  padding-left: 0.5em;
  font-style: italic;
}
