img {
    padding: 10px;
    background-color: #ecebeb;
}

a.social-icon {
    box-shadow: none;
}

a.social-icon:hover,
.circle-image {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: 50%;
    opacity: 1;
}