.home-pagination {
  display: grid;
  grid-template-columns: max(185px, 35%) 1fr max(185px, 35%);
  text-align: center;
  justify-content: space-around;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1em;
  align-items: stretch;
}

.home-pagination__btn.btn,
.home-pagination__btn.btn a {
  color: var(---text-color);
  background-color: var(---btn-background-color);
  font-size: 0.95em;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  .home-pagination {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }

  .home-pagination__btn--left.home-pagination__btn--left {
    grid-row-start: 2;
    grid-column-start: 1;
    text-align: center;
  }

  .home-pagination__btn--center.home-pagination__btn--center {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .home-pagination__btn--right.home-pagination__btn--right {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.home-pagination__btn--left {
  grid-column-start: 1;
}

.home-pagination__btn--center {
  grid-column-start: 2;
  text-align: center;
  align-self: center;
}

.home-pagination__btn--right {
  grid-column-start: 3;
}
