.blog-series-subtitle {
  margin: 0;
  width: 80%;
  @media screen and (min-width: 850px) {
    width: 100%;
  }
}
.blog-series-list {
  --border-color: gray;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  border: 1px solid var(--border-color);
  margin-bottom: 1.5em;
  border-radius: 0.5em;

  .series-heading,
  .series-footer {
    height: 0.2em;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
  }

  .series-heading {
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
  }

  .series-footer {
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
  }

  ul {
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    list-style: none;
    padding-left: 0;
    border-collapse: collapse;
    margin: 0;
  }

  li {
    width: 100%;
    line-height: 2em;
    border: 1px solid var(--border-color);
    border-width: 1px 0;
    border-collapse: collapse;
    margin: -1px;
  }

  .series-text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25em 1em;
    height: 100%;

    .text {
      line-height: 1.5em;
    }
  }

  li.selected {
    @include bold;

    .batch {
      background-color: gray;
    }
  }

  li a {
    text-decoration: none;
  }

  li:not(.selected) {
    &:hover {
      background-color: rgb(203, 203, 203);
      color: black;
    }
    a {
      &:hover {
        background-color: rgb(203, 203, 203);
        color: black;
      }
      @media (prefers-color-scheme: light) {
        color: rgb(82, 82, 82);
      }
      @media (prefers-color-scheme: dark) {
        color: rgb(210, 210, 210);
      }
    }
  }
}
